.lodging_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 60px 20px;
}

@media screen and (max-width: 991px) {
    .lodging_list {
       padding: 10px 10px;
    }
}

@media screen and (max-width: 767px) {
    .lodging_list {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
