* {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 0 100px;
}

@media screen and (max-width: 1150px) {
  main {
      padding: 0 50px;
  }
}

@media screen and (max-width: 991px) {
  main {
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding: 0 20px;
  }
}



