.banner-style-in-home-page {
    padding-top: 70px;
    padding-bottom: 43px;
}

/* CSS for placing all lodgings cards in home page */
.lodging-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 60px 20px;
}

@media screen and (max-width: 991px) {
    .lodging-list {
       padding: 5px 5px;
    }
}

@media screen and (max-width: 767px) {
    .banner-style-in-home-page {
        padding-top: 16px;
        padding-bottom: 22px;
    }
    .banner-style-in-home-page .banner-style {
        height: 111px;
    }
    .banner-style-in-home-page .banner-style img {
        border-radius: 10px;
    }
    .lodging-list {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}