.cards-in-home-page {
    position: relative;
    width: 28.5%;
    height: 340px;
    padding-bottom: 50px;
}

.cards-in-home-page img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    filter : brightness(75%);
}

.cards-in-home-page h3 {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    color: #FFFFFF;
    margin-top: -53px;
    padding-left: 15px;
    width: 95%;
}

@media screen and (max-width: 1150px) {
    .cards-in-home-page {
        width: 30%;
    }
}

@media screen and (max-width: 991px) {
    .cards-in-home-page {
        width: 32%;
        padding-bottom: 10px;
    }
    .cards-in-home-page h3 {
      padding-left: 5px;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 767px) {
    .cards-in-home-page {
        width: 100%;
        height: 255px;
        
    }
    .cards-in-home-page h3 {
      padding-left: 10px;
      font-size: 18px;
    }
  }