/* All collapse */

.collapse_drop_down_list {
    margin: 30px 100px 0 100px;
}

.collapse_drop_down_list h3 {
    border: 1px solid #FF6060;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse_drop_down_list h3:hover {
    cursor: pointer;
}

.collapse_drop_down_list img {
    height: 13px;
    padding: 15px 0;
}

.content_in_collapse {
    padding: 25px 42px 20px 20px;
    border: transparent;
    background-color:  #F7F7F7;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
}

/* Arrow in collapse in about page */

.arrow {
    transition: all 0.2s ease-in-out;
}

.arrow_to_open {
    transform: rotate(0deg);
}

.arrow_to_close {
    transform: rotate(180deg);
}

/* Collapse in lodging page */

.style_collapse_in_lodging_page  {
    display: flex;
    justify-content: space-between;
}

.style_collapse_in_lodging_page .collapse_drop_down_list {
    margin: 0;
    width: 47%;
   
}

.style_collapse_equipments {
    margin-left: 80px;
}

.style_collapse_in_lodging_page .content_in_collapse {
    height: 249px;
}
.details_equipments {
    padding-bottom: 5px;
}

