.header_style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 100px 70px 100px;
}

.header_style ul {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 0;
}

.header_style li {
    list-style: none;
}

.header_style a {
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.space_nav_link_home {
    padding-right: 60px;
}

nav .active {
    text-decoration: underline;
}

@media screen and (max-width: 1150px) {
    .header_style {
        padding: 40px 50px 70px 50px;
    }
    
}
  
  @media screen and (max-width: 991px) {
    .header_style {
      padding: 40px 20px 70px 20px;
    }
}

  @media screen and (max-width: 767px) {
    .header_style {
      padding: 20px;
    }
    .header_style a {
      font-size: 12px;
      line-height: 17px;
      text-transform: uppercase;
    }
    .space_nav_link_home {
        padding-right: 10px;
    }
    .header_style img {
      width: 100%;
      max-width: 150px;
    }
    
}