header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 0;
}

header ul {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
}

.space_nav_about {
    padding-left: 60px;
}