.header_style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 0;
}

.header_style ul {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.header_style li {
    list-style: none;
}

.header_style a {
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
}

.space_nav_link_about {
    padding-left: 60px;
}

nav .active {
    text-decoration: underline;

}