.title-error, .p-error, .link-error {
    text-align: center;
    color: #FF6060;
}

.title-error {
    font-weight: 700;
    font-size: 288px;
    line-height: 410px;
    padding-top: 170px;
}

.p-error {
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
}

.link-error {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-top: 182px;
}

/* Responsive mobile */
@media screen and (max-width: 767px) {
    .title-error {
        font-size: 96px;
        line-height: 136px;
        padding-top: 195px;
    }
    .p-error {
        font-size: 18px;
        line-height: 25px;
    }
    .p-error span {
        display: flex;
        flex-direction: column;
    }
    .link-error {
        font-size: 14px;
        line-height: 19px;
        padding-top: 133px;
    }
}