.title_error, .p_error, .link_error {
    text-align: center;
    color: #FF6060;
}

.title_error {
    font-weight: 700;
    font-size: 290px;
    line-height: 410px;
    padding-top: 170px;
}

.p_error {
    font-weight: 500;
    font-size: 36px;
    padding: 30px 30px 0 30px;
    line-height: 51px;
}

.link_error {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-top: 180px;
}

@media screen and (max-width: 767px) {
    .title_error {
        font-size: 96px;
        line-height: 136px;
    }
    .p_error {
        font-size: 18px;
        padding-top: 10px;
        line-height: 25px;
    }
    .link_error {
        font-size: 14px;
        padding-top: 130px;
        line-height: 19px;
    }
}