.title_error, .p_error, .link_error {
    text-align: center;
    color: #FF6060;
}

.title_error {
    font-weight: 700;
    font-size: 290px;
    padding-top: 170px;
}

.link_error {
    display: block;
    font-weight: 500;
    font-size: 18px;
    padding-top: 180px;
}

.p_error {
    font-weight: 500;
    font-size: 36px;
    padding-top: 30px;
}