
/* CSS only Collapse component in lodging page */

.style_collapse_in_lodging_page  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style_collapse_in_lodging_page .collapse_drop_down_list {
    margin: 0;
    width: 47%;
}

.style_collapse_equipments {
    margin-left: 80px;
}

.style_collapse_in_lodging_page .content_in_collapse {
    min-height: 249px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    border-radius: 10px;
}

.style_collapse_in_lodging_page h3 {
    font-size: 18px;
    border-radius: 10px;
}

.details_equipments {
    padding-bottom: 5px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    .style_collapse_in_lodging_page .content_in_collapse {
        font-size: 12px;
        line-height: 17px;
        min-height: 144px;
    }
    .style_collapse_in_lodging_page  {
        display: flex;
        flex-direction: column;
    }
    .style_collapse_in_lodging_page .collapse_drop_down_list {
        margin-bottom: 20px;
        width: 100%;
    }
    .style_collapse_in_lodging_page h3 {
        font-size: 13px;
    }
}


